.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 220px;
    height: 100%;
    background: #fff;
    padding: 0px 0px;
}

img {
    height: 258px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

h2 {
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tamanho-menu {
    height: 33px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.bg-cinza {
    background: #E5E5E5;
}

.wrapper .sidebar ul div li a {
    color: #725C5C;
    display: block;
}

.wrapper .sidebar ul div li:hover {
    background-color: #FDF1EB;
}

.wrapper .sidebar ul div li:hover a {
    color: #725C5C;
}

.wrapper .sidebar ul li{
    border-bottom: 1px solid #878688;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(37, 37, 37, 0.05);
}  

.bg-button{
    background-color:  rgba(237, 120, 57, 1);
    border-radius: 4px; 
}

.textnav-topo{
    height: 16px;
    width: 391px;
    left: 36px;
    top: 5px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.textonav-center{
    height: 26px;
    width: 643px;
    left: 36px;
    top: 23px;
    border-radius: nullpx;    
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;    
}
        

.textonav-baixo{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left; 
    height: 16px;
    width: 105px;
    left: 36px;
    top: 48px;
    border-radius: nullpx;
}

.text-color{
    color: rgba(114, 92, 92, 1);
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.color-analise {
    color: rgba(237, 120, 57, 1);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;    
}

.color-texto {  
    color: rgba(237, 120, 57, 1);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: right;

}

.text-analise{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: left;    
}

.wrapper .main_content {
    width: 100%;
    margin-left: 232px;
    top: 20px;
}

.wrapper .main_content .not {
    height: 68px;
    width: 1146px;
    background: #FDF1EB;
    position: absolute;
}

.dp-lingua{
    height: 34px;
    width: 97px;
    left: 789px;
    top: 17px;
    border-radius: 3px;
}

.bemVindo {
    height: 18px;
    width: 72px;
    left: 999px;
    top: 17px;
    border-radius: nullpx;
}

.emailAlguem {
    height: 15px;
    width: 163px;
    left: 908px;
    top: 36px;
    border-radius: nullpx;
}

.analise {
    margin-left: 263px;
    margin-right: 56px;
    position: relative;
    top: 20px;
    width: 768px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoesd {
    height: 31px;
    margin-right: 5px;
    width: 120px;
    left: 842px;
    border-radius: 4px;
    text-align: center;
}

.botoese {
    height: 31px;
    width: 43px;
    left: 967px;
    border-radius: 4px;
    text-align: center;
}

.botoesdoi {
    margin-left: 5px;
    height: 31px;
    width: 43px;
    left: 1015px;
    border-radius: 4px;
}

.textinho {
    margin-top: 4px;
    height: 25px;
    width: 239px;
    left: 820px;
    top: 43px;
    border-radius: nullpx;
}

.link {
    height: 19px;
    width: 99px;
    left: 24px;
    top: 7px;
    border-radius: nullpx;
}

.wrapper .video {
    margin-left: 263px;
    margin-right: 31px;
    width: 783px;
    height: 439px;
    left: 2px;
    top: 73px;
    border-radius: 3px;
}

.wv {
    margin-top: 19px;
    top: 20px;
}

.wrapper .detalhes {
    top: 20px;
    margin-top: 5px;
    height: 439px;
    width: 242px;
    left: 816px;
    top: 73px;
    border-radius: 3px;
}

.resumo-div {
    margin-left: 232px;
    height: 189px;
    width: 1058px;
    left: 0px;
    top: 542px;
    border-radius: 3px;
    border: 1px solid rgba(37, 37, 37, 0.05);
}

.resumo{
    height: 45px;
    width: 1058px;
    left: 0px;
    top: 542px;
    border-radius: [object Object]px;
    background-color: rgba(253, 241, 235, 1);
}

.text-resumo{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.text-lorem-resumo {
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
}

.link-resumo {
    color:  rgba(237, 120, 57, 1);
}

.discussoes {
    margin-left: 232px;
    height: 621px;
    width: 1058px;
    left: 0px;
    top: 761px;
    border-radius: 3px;
}

.footer {
    margin-left: 234px;
    height: 181px;
    width: 1086px;
    left: 14px;
    top: 0px;
    border-radius: 0px;
}

.wrapper .sidebar h2 {
    width: 100%;
    height: 68px;
    text-align: center;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}